# Database connection
DATABASE_USE_SSL=true
TEST_DATABASE_URL==postgres://admin:postgres@localhost:5433/test
JWT_SECRET=PutRandomSecretHere-512BitsAtLeast-eg.eyJhbGciOiJSUzI1NiJ9.bWVsb2dvOi8vaWRlbnRpdHkvdjEvMzI2MjY3NzMz


# Application settings
WEB_CONCURRENCY=1

# possible values: critical | error | warning | info | debug
APP_LOGS_LEVEL=debug
